.container_grid {
  grid-template-columns: 1fr minmax(auto, 400px) 1fr;
}
.article-pic {
  &_video {
    width: 400px;
    height: 280px;
  }
}

.container_grid-6 {
  grid-template-columns: 1fr minmax(auto, 410px) 1fr;
}
