.container_grid {
  grid-template-columns: 1fr minmax(auto, 400px) 1fr;
}
.article-pic {
  &_video {
    width: 400px;
    height: 280px;
  }
}

.weather-table {
  &__col1 {
    padding: 10px;
  }
  &__col2 {
    padding: 10px;
  }
  &__col4 {
    padding: 10px;
  }
}
