// ====== 4 column grid container ======
.container_grid {
  grid-gap: 10px;
  grid-template-columns: 1fr repeat(2, minmax(auto, 635px)) 1fr;
  grid-template-areas: ". cont1 img1 .";
  align-items: center;
}

.article-pic {
  &_video {
    width: 535px;
    height: 368px;
  }

  &__img1 {
    width: 336px;
  }

  &__img2 {
    width: 252px;
    height: 350px;
  }
}

// ======= service-box =========
.service-box {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  &__content {
    top: 40px;
  }
}
.experts {
  margin-top: 0;
}
// ======= event-box=======
.event-box {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "cont1 img1 img2 cont2"
    "cont3 img3 img4 cont4";
}
// ====== 6 column grid container ======
.container_grid-6 {
  grid-template-columns: 1fr minmax(1150px, 1fr) 1fr;
}

.surfcoaching-box,
.abilities-box {
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  justify-content: center;
}
// ====== team-container ======
.fluid-container_team {
  grid-template-columns: repeat(4, 1fr);
}
