// ====== footer-top ========
.footer-box__link p {
  transition: color 0.4s ease-in-out;
}
.footer-box__link p:hover {
  cursor: pointer;
  color: $activeMenuLinkColor;
}
.footer-box__link {
  margin-right: 50px;
}
.footer-socialbox {
  &__icon {
    transition: all 0.3s ease;
    &:hover {
      --icon-color: #16d5cc;
      cursor: pointer;
    }
  }
}

// ====== instagram-gallery ======
.instagram-gallery {
  @include e(item) {
    position: relative;
  }
  @include e(iconholder) {
    transition: all 0.5s ease-in-out;
  }
}
.instagram-gallery__item:hover .instagram-gallery__iconholder {
  transform: scale(1.5);
  opacity: 1;
}

//====== footer-bottom ======
.info-box__item p {
  transition: color 0.4s ease-in-out;
}
.info-box__item p:hover {
  cursor: pointer;
  color: $activeMenuLinkColor;
}
