@mixin before($w, $h, $t, $l) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: $w;
    height: $h;
    top: $t;
    left: $l;
    @content;
  }
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  @content;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  @content;
}

@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin font($f, $s, $w: "") {
  font: #{$w} $s $f;
}
